body{
    background-image: linear-gradient(to right, #334d74, #007aa8, #00a7ad, #00cf7c, #a8eb12);
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    height: 100vh;
    text-align: center;
    width: 100%;

}
.content{
    width: 100%;
    position:absolute;
    top: 20%;
}
.message{
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 151px; 
    /* width: 100%; */
}